.header{
    display: flex;
    justify-content: space-around;
    background: #FDF9EA;
    height: 60px;
    margin-bottom: 40px;
  }

.title{
    font-family: "Lucida Console", Monaco, monospace;
    color: #84613D;
    margin: 0;
    padding: 5px;
    text-align: center;
}

.button__sesion{
    margin-top: 5px;
    border-radius: 15px;
    background: white;
    width: 100px;
    height: 40px;
}

.session_letter{
    color: black;
    font-size: 15px;
}

